name: Push docker base image cache to GCR cache

on:
  push:
    # Only trigger for nsjail-docker changes
    paths: 
      - 'config/docker/**'
      - 'kctf-operator/**'
      - '.github/workflows/dockerpush.yml'
    paths-ignore:
      - 'kctf-operator/deploy/**'

  pull_request:
    # Only trigger for nsjail-docker changes
    # This will only run tests, it won't create a package
    paths: 
      - 'config/docker/**'
      - 'kctf-operator/**'
      - '.github/workflows/dockerpush.yml'
    paths-ignore:
      - 'kctf-operator/deploy/**'

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run tests
        run: |
          cd config/docker
          docker build . --file nsjail.Dockerfile
          docker build . --file chroot.Dockerfile
          docker build . --file pwntools.Dockerfile

  push:
    # Ensure test job passes before pushing image.
    needs: test

    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2

      - name: Build images
        run: |
          pushd config/docker
          docker build . --file nsjail.Dockerfile --tag nsjail
          docker build . --file chroot.Dockerfile --tag chroot
          docker build . --file pwntools.Dockerfile --tag pwntools
          popd
          pushd kctf-operator
          curl -L https://github.com/operator-framework/operator-sdk/releases/download/v0.18.2/operator-sdk-v0.18.2-x86_64-linux-gnu -o operator-sdk
          chmod u+x operator-sdk
          ./operator-sdk build operator
          popd

      - name: Log into GitHub registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin

      - name: Setup gcloud CLI
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '270.0.0'
          service_account_email: ${{ secrets.GCR_EMAIL }}
          service_account_key: ${{ secrets.GCR_KEY }}

      - name: Configure docker to use the gcloud command-line tool as a credential helper
        run: |
          gcloud auth configure-docker

      - name: Push images
        run: |
          PUSH="true"
          REFERENCE="${{ github.ref }}"
          IMAGE_REPO="docker.pkg.github.com/${{ github.repository }}"
          IMAGE_GCR="gcr.io/${{ secrets.GCR_PROJECT }}"

          scripts/dev/docker.sh nsjail $IMAGE_REPO/kctf-nsjail-bin $REFERENCE $PUSH
          scripts/dev/docker.sh nsjail $IMAGE_GCR/kctf-nsjail-bin $REFERENCE $PUSH

          scripts/dev/docker.sh chroot $IMAGE_REPO/kctf-nsjail-chroot $REFERENCE $PUSH
          scripts/dev/docker.sh chroot $IMAGE_GCR/kctf-nsjail-chroot $REFERENCE $PUSH

          scripts/dev/docker.sh pwntools $IMAGE_REPO/kctf-pwntools $REFERENCE $PUSH
          scripts/dev/docker.sh pwntools $IMAGE_GCR/kctf-pwntools $REFERENCE $PUSH

          scripts/dev/docker.sh operator $IMAGE_REPO/kctf-operator $REFERENCE $PUSH
          scripts/dev/docker.sh operator $IMAGE_GCR/kctf-operator $REFERENCE $PUSH
